[submodule "app/src/main/jni/cryptopp"]
    path = app/src/main/jni/cryptopp
    url = http://github.com/cawka/cryptopp
    branch = android
[submodule "app/src/main/jni/ndn-cxx"]
    path = app/src/main/jni/ndn-cxx
    url = ../ndn-cxx
[submodule "app/src/main/jni/NFD"]
    path = app/src/main/jni/NFD
    url = ../NFD
